/* Setting width/height includes content and border */
* {
    box-sizing: border-box;
}

/* Board container to hold all cards */
.board {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 100vw; /* width 90% of view width */
    height: 100vh;
    overflow-x: hidden;
    overflow-y: hidden;
}

.row {
    max-width: 1000px;
    width: 80%;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

/* Holds all the elements and sets the size of the card */
.cardcontainer {
    position: relative;
    width: 120px;
    height: 190px;
    /* width: 250px; 
    height: 320px; */
}

/* Holds the front and back elements. Controls the transform action */
.card {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: all 1s ease;
}

.card.turn {
    transform: rotateY(180deg);
}
/* Pseudo-class controls the flip */
/* .card:hover {
    transform: rotateY(180deg);
} */

/* The front-facing side of the card */
.front {
    position: absolute;
    width: 100%;
    height: 100%;
    background: hidden;
    background: #ffc728;
    color: #333;
    text-align: center;
    border-radius: 20px;
    font-size: 18px;
    font-weight: 700;
}

/* The back-facing side of the card */
.back {
    position: absolute;
    width: 100%;
    height: 100%;
    background: hidden;
    background: #6d67c9;
    color: #fff;
    text-align: center;
    border-radius: 20px;
    font-size: 18px;
    font-weight: 700;
    transform: rotateY(180deg);
}
